.card {
  margin: 0 0.8rem 1rem;
  position: unset;
  max-width: 233px;
  height: 320.38px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-item {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.card-image img {
  width: 100%;
  height: 200px;

}

.card-title {
  padding: 0.8rem 0rem 0rem 0.8rem;
  font-size: medium;
  font-weight: lighter;
  color: gray;
  margin-bottom: 0px;
}

.card-price {
  padding: 0.8rem;
  font-size: x-large;
  font-weight: lighter;
  color: orangered;
}

.card-botton {
  color: 
  #f56c2d;
  font-size: 1.4em;
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wishlist{
  margin-right:1rem;
}

.wished{
  margin-right:1rem;
  display:none;
}
.wishFalse{
  display: none !important;
}
  
.wishlist:hover {
  cursor: pointer;
}

.wish{
  color:
  #f56c2d;
  display: block;
}

